spring:
  r2dbc:
    url: ${SPRING_R2DBC_URL:r2dbc:postgresql://db:5432/conjuntos}
    username: ${SPRING_R2DBC_USERNAME:postgres}
    password: ${SPRING_R2DBC_PASSWORD:postgres}
    pool:
      initial-size: 10
      max-size: 50
      max-idle-time: 30m
      validation-query: SELECT 1
  docker:
    compose:
      enabled: false


springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

server:
  port: 8080
  shutdown: graceful
  compression:
    enabled: true
    min-response-size: 1024

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when-authorized

logging:
  level:
    root: INFO
    com.william.conjuntos: INFO
    org.springframework.r2dbc: WARN
    org.springframework.security: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

